[Unit]
Description=Docker Registry container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull registry:2
ExecStart=/usr/bin/docker run --rm --name %n -p 5000:5000 registry:2

[Install]
WantedBy=multi-user.target
